/Build
.vs/CMake Overview
.vs/cmake.db
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/co_emulator/v17/workspaceFileList.bin
.vs/co_emulator/v17/ipch/AutoPCH/dd9e7edeff7fe2d5/ONDELETECHARACTER.ipch
.vs/co_emulator/v17/ipch/AutoPCH/b803cad7feb63512/ONDELETECHARACTER.ipch
.vs/co_emulator/v17/ipch/AutoPCH/9c1cb1b8d63e0e0b/ONCREATECHARACTER.ipch
.vs/co_emulator/v17/ipch/AutoPCH/83aa396a8ae3c5d9/AUTHDB.ipch
.vs/co_emulator/v17/ipch/AutoPCH/6ba86436c0afb65d/ONVERIFYCREDENTIALS.ipch
.vs/co_emulator/v17/ipch/AutoPCH/5dbcf2dc3bcbe501/ONAUTHENTICATE.ipch
.vs/co_emulator/v17/ipch/AutoPCH/4a5ff6729534e783/ONAUTHACCOUNT.ipch
.vs/co_emulator/v17/ipch/AutoPCH/10e6c1bf17abed0c/ONVERIFYSUBPASSWORD.ipch
.vs/co_emulator/v17/Browse.VC.db
.vs/co_emulator/v17/.wsuo
.vs/co_emulator/FileContentIndex/101d8a6e-356b-462c-b6c1-4bd12d81e1c5.vsidx
.vs/co_emulator/FileContentIndex/0b6a8062-6c84-40cd-b51e-52954f44d358.vsidx
